<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="org.lineage.overlay.systemui.wpzoomdisabler"
        android:versionCode="1"
        android:versionName="1.0">
    <overlay android:targetPackage="android"
        android:priority="1"/>
    <application android:label="@string/wallpaper_zoom_disabler_title" android:hasCode="false"/>
</manifest>
